h1, p {
  font-family: Lato;
}
.container1, .container2, .container3 {
  display: flex;
  flex-direction: row;
}
.card {
  margin: 4px;
  width: 100%;
  box-shadow: 0.2px 0.2px;
}

.header {
  margin: 0px;
  background: purple;
  padding: 5px;  
  color: white;
  font-weight: bold;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  padding: 3px;
  float: right;  
  margin: 4px;
}
i:hover {
  cursor: pointer;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.button {
  text-align: center;
  text-decoration: none;
  margin: 5px;
  padding: 5px 5px;
  cursor: pointer;
  border-radius: 5px 5px;
  border: 1px solid purple;
  font-weight: bold;
}
.button:hover {  
  background-color: purple;  
  color: white;
}
.container1 .form-check {
    display: inline-grid;
}
.container2 .form-check {
    display: block;
}
.container3 .form-check {
    display: block;
}
.form-group {
    margin-bottom: 0rem;
    margin-top: 1rem;
}
.subHeader {
    margin: 4px;
    background: lightgray;
    padding: 1px;
    font-weight: bold;
}